body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a419df;
    padding: 20px;
    text-align: center;
    color: rgb(6, 3, 60);
}

main {
    padding: 20px;
}

.fun-section, .colorful-section {
    margin-bottom: 30px;
}

.colorful-section .color-box {
    width: 100px;
    height: 100px;
    background-color: #ffb347;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}

footer {
    background-color: #424242;
    padding: 10px;
    text-align: center;
    color: white;
}

#changeColorButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3d8f37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#changeColorButton:hover {
    background-color: #131065;
}


